#nav-bar-wrapper{
    position: sticky;
    display: flex;
    justify-content: space-between;
    top: 0px;
    background-color: antiquewhite;
    height:35px;
    padding: 0 10px;
    align-items: center;
}
#nav-image-wrapper{
    height:180%;
    margin-left:10px;
    display:flex;
    position: relative;
}

#nav-bar-wrapper img{
    height:100%;
    border-radius: 100%;
    position: absolute;
    bottom:-18px;
    z-index: 1;
}

#nav-bar-wrapper p{
    /* margin-left: 5px; */
    margin: 0px 0px;
    
}

nav {
    position: absolute; 
    top: 35px; 
    left: 0; 
    right: 0; 
    text-align: center;
    overflow: hidden;
    max-height: 0px;
    transition: max-height 0.5s;
    background-color: antiquewhite;
}

.menu-open{
    max-height: 68px;
}

@media screen and (min-width: 700px) {
    #nav-bar-wrapper{
        position: sticky;
        display: flex;
        flex-direction: column;
        align-items:center;
        min-height: 100vh;
        justify-content:center;
        gap: 1rem;
        top: 0;
        background-color: antiquewhite;
        padding: 0 10px;
    }

    #nav-image-wrapper{
        height:auto;
        margin-left:0px;
        display:block;
        
    }

    #nav-bar-wrapper img{
        height:15rem;
        position:static;
        z-index: 0;
        padding-top:0px;
    } 
}
