.App {
  text-align: center;
  background: radial-gradient(rgb(10, 10, 162), rgb(3, 3, 59))
};


@media screen and (min-width: 700px) {
  .app-wrapper{
    display: flex;
    flex-direction: row;
  }
}